<eternal>
{{ eternal }}
</eternal>

<past>
{% if summary1 %}
# This part is a summary of the events of {{ summary1.format_header() }}

{{ summary1.summary }}

---
{% endif %}
{% if summary2 %}
# This part is a summary of the events of {{ summary2.format_header() }}

{{ summary2.summary }}
{% endif %}
</past>

<present>
{% if machine %}
**Machine:** {{ machine.name }}
**Hardware:** {{ machine.cores }} cores, {{ machine.ram }}{% if machine.gpu %}, {{ machine.gpu }}{% endif %}

**Uptime:** {{ machine.uptime }}
**Disk:** {{ machine.disk_free }}
{% endif %}

{% if weather %}
{{ weather }}
{% endif %}
</present>

<future>
{% if calendar %}
{{ calendar }}
{% endif %}

{% if todos %}
{{ todos }}
{% endif %}
</future>
